<main>
<div class="table-data">
    <div class="order">
      <div class="head">
        <h3>Personnel</h3>
        <form action="#">
            <div class="form-input">
              <input type="search" placeholder="Search...">
              <button type="button" class="search-btn"><i class='bx bx-search' ></i></button>
            </div>
          </form>
        <i class='bx bx-filter' ></i>
      </div>
      <table>
        <thead>
          <tr>
            <th>nom</th>
            <th>departement</th>
            <th>Role</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
              <p>John Doe</p>
            </td> 
            <td>01-10-2023</td>
            <td><span class="status completed">livré</span></td>
          </tr>
          <tr>
            <td>
              <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
              <p>John Doe</p>
            </td>
            <td>01-10-2023</td>
            <td><span class="status pending">Pas encore</span></td>
          </tr>
          <tr>
            <td>
              <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
              <p>John Doe</p>
            </td>
            <td>01-10-2023</td>
            <td><span class="status completed">livré</span></td>
          </tr>
          <tr>
            <td>
              <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
              <p>John Doe</p>
            </td>
            <td>01-10-2023</td>
            <td><span class="status completed">livré</span></td>
          </tr>
          <tr>
            <td>
              <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
              <p>John Doe</p>
            </td>
            <td>01-10-2023</td>
            <td><span class="status completed">livré</span></td>
          </tr>
        </tbody>
      </table>
    </div>
