/* CHERCHE INPUT */

form .form-input,
.form-input {
  display: flex;
  align-items: center;
  height: 36px;
}

form .form-input input,
.form-input input {
  flex-grow: 1;
  padding: 0 16px;
  height: 100%;
  border: none;
  background: var(--grey);
  border-radius: 36px 0 0 36px;
  outline: none;
  width: 100%;
  color: var(--dark);
}

form .form-input button,
.form-input button {
  width: 36px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--blue);
  color: var(--light);
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 0 36px 36px 0;
  cursor: pointer;
}

/* CHERCHE INPUT */

/* POP UP */
.pop-up-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
  right: 0;
  z-index: 10000;
}

.form-pop-up {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


/* Pop up elements */
.btns-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: row;
  margin-top: 20px;
}

.btn-annuler {
  background-color: #FFCE26;
  margin-right: 8px;
}
.btn-envoyer {
  background-color: #682773;
  margin-left: 8px;
}
.btn-annuler, .btn-envoyer {
  border: none;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 95%;
  border-radius: 3px;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  cursor: pointer;
}
.btn-annuler:hover {
  background-color: rgb(255, 255, 255);
  color: #FFCE26;
}
.btn-envoyer:hover {
  background-color: rgb(255, 255, 255);
  color: #682773;
}
.alert-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.alert-icon-container i {
  font-size: 24px;
  color: #FFCE26;
}
.text-container {
  font-size: 16px;
  margin-top: 20px;
}
.text-container p {
  max-width: 300px;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif; 
  color: #333;
  line-height: 1.5;
}

.element-container {
  display: grid;
  align-items: center;
  margin-bottom: 20px;
  grid-template-columns: 1fr 3fr;
}

.element-lebel {
  margin-right: 10px;
}

.element-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.element-input:hover {
  border-color: #007bff;
}

.element-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  outline: none;
}

.element-radio-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.radio-container {
  display: inline-block;
  vertical-align: middle; 
  margin-right: 15px;
  cursor: pointer;
}

.radio-container input[type="radio"] {
  display: none;
}

.radio-container .custom-radio {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 50%;
}

.radio-container input[type="radio"]:checked + .custom-radio::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #2196F3;
  border-radius: 50%;
}

.radio-container label {
  margin-left: 5px;
  vertical-align: middle; 
}
.radio-container label:hover {
  text-decoration: underline;
}

.choice-select {
  outline: none;
  border-radius: 15px;
  background-color: var(--grey);
  padding: 10px 50px 10px 18px;
  border: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 1 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.choice-select option {
  padding: 8px 16px;
  font-size: 14px;
  color: #5c5959;
  background-color: var(--grey);
}

.choice-select option:hover {
  background-color: #f2f2f2;
}


