@charset "ISO-8859-1";

/* warning succes messages */
.message-erreur-container, .message-succes-container {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10000;
	background-color: rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
}

.message-elements {
	height: 400px;
	width: 500px;
	background-color: rgb(250, 248, 248);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.warning-icon {
	width: 70px;
	height: 70px;
	margin-top: 40px;
	margin-bottom: 30px;
	color: yellow;
}

.succes-icon {
	width: 70px;
	height: 70px;
	margin-top: 40px;
	margin-bottom: 30px;
	color: green;
}

.message-elements p {
	max-width: 370px;
	margin-top: 40px;
	text-align: center;
}

.btn-ok {
	margin-top: 40px;
	width: 200px;
	height: 40px;
	line-height: 42px;
	padding: 0;
	border: none;
	background: red;
	color: white;
	
}

.btn-ok:hover {
	background: rgb(167, 60, 60);
	box-shadow: none;
	cursor:pointer;
}

.btn-ok-succes {
	margin-top: 40px;
	width: 200px;
	height: 40px;
	line-height: 42px;
	padding: 0;
	border: none;
	background: green;
	color: white;
}

.btn-ok-succes:hover {
	background: rgb(43, 153, 43);
	box-shadow: none;
	cursor:pointer;
}

/* pop up panne style */

.icon {
	  margin: 0px 5px;
	  font-size: 22px;
	  cursor: pointer;
	  color: #3C91E6;
	}
	
	.pop-up-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
  right: 0;
  z-index: 10000;
}

.form-pop-up {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Pop up elements */
.btns-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: row;
  margin-top: 20px;
}

.btn-annuler {
  background-color: #FFCE26;
  margin-right: 8px;
}

.btn-envoyer {
  background-color: #682773;
  margin-left: 8px;
}

.btn-annuler:hover {
  background-color: rgb(255, 255, 255);
  color: #FFCE26;
}

.btn-envoyer:hover {
  background-color: rgb(255, 255, 255);
  color: #682773;
}

.btn-annuler,
.btn-envoyer {
  border: none;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 95%;
  border-radius: 3px;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  cursor: pointer;
}


.element-container {
  display: grid;
  align-items: center;
  margin-bottom: 20px;
  grid-template-columns: 1fr 3fr;
}

.element-container-texterea {
  display: grid;
  margin-bottom: 20px;
  grid-template-columns: 1fr 3fr;
}

.element-lebel {
  margin-right: 10px;
}

.element-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.element-input:hover {
  border-color: #007bff;
}

.element-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  outline: none;
}

.element-radio-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.radio-container {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  cursor: pointer;
}

.radio-container input[type="radio"] {
  display: none;
}

.radio-container .custom-radio {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 50%;
}

.radio-container input[type="radio"]:checked+.custom-radio::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #2196F3;
  border-radius: 50%;
}

.radio-container label {
  margin-left: 5px;
  vertical-align: middle;
}

.radio-container label:hover {
  text-decoration: underline;
}