<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Enseignants</h4>
                <p class="card-category">Votre département comporte ces enseignants</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>
                                ID
                            </th>
                            <th>
                                Emetteur
                            </th>
                            <th>
                                Contenu
                            </th>
                            <th>
                                Date
                            </th>
                            <th>
                                Action
                            </th>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let notification of notifications">
                                <tr>
                                    <td>
                                        {{ notification.id }}
                                    </td>
                                    <td>
                                        {{ notification.sender }}
                                    </td>
                                    <td>
                                        {{notification.contenu}}
                                    </td>
                                    <td>
                                        {{notification.date}}
                                    </td>
                                    
                                    <td class="td-actions">
                                        <button type="button" rel="tooltip"
                                            class="btn btn-primary btn-link btn-sm" >
                                            <i class="material-icons">edit</i>
                                        </button>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

